//Глобальные стили
@font-face {
	font-family: 'Open Sans';
	src: url('../font/OpenSans-Regular.woff2') format('woff2'),
		url('../font/OpenSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;

}
@font-face {
	font-family: 'Open Sans';
	src: url('../font/OpenSans-Bold.woff2') format('woff2'),
		url('../font/OpenSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	
	font-size: 17px;
	line-height: 30px;
	box-sizing: inherit;
	letter-spacing: 0;
}
.hide-overflow{
	overflow-x: hidden;
	position: relative;
}
img {
	width: 100%;
	height: auto;
}
a {
	text-decoration: none;
	color: black;
}
*, *:before, *:after {
	box-sizing: border-box;
}

