
@keyframes anime {
  0% {
  	 transform: rotateY(0deg);
  }
 
  40% {
  	transform: rotateY(-30deg);
  }
  80% {
  	transform: rotateY(20deg);
  }
  100% {
  	transform: rotateY(0deg);
  }
}
@keyframes shaders {
	0% {
		transform: scale(1.5);
	}
 
	12% {
		transform: scale(0.89);
	}

	24% {
		transform: scale(0.56);
	}

	36% {
		transform: scale(0.02);
	}

	54% {
		transform: scale(0.25);
	}

	74% {
		transform: scale(0.02);
	}

	82% {
		transform: scale(0.06);
	}

	92% {
		transform: scale(0.01);
	}

	96% {
		transform: scale(0.02);
	}

	100% {
		transform: scale(0);
	}
}
.logo-text{
 
  transform-origin: center;
  width: 10px;
  animation: anime 2s  cubic-bezier(0.175, 0.885, 0.32, 1.575);   
   animation-delay: 0.2s;
}
.logo-shaders {
   animation: shaders .8s backwards;  
   animation-delay: 1.2s; 
   transform-origin: top right;  
  animation-direction: reverse;
}


.main-header {
	font-size: 17px;
	line-height: 1.2em;
	font-weight: bold;
}
.main-header--inner-page {
	.main-header__bottom-menu-container {
		&:after {
			background-color: #f1f1f1;
		}
	}
}
.main-header__intro {
	display: none;
}
.main-header__logo-link {
	z-index: 1;
	outline: none;
	&:hover .main-header__logo-wrapper, &:focus .main-header__logo-wrapper{
		opacity: 0.6;
	}
	&:active .main-header__logo-wrapper{
		opacity: 0.3;
	}
}
.main-header__logo {
	width: 86px;
	height: 79px;
	margin-left: auto;
    margin-right: auto;
	vertical-align: middle;
	display: flex;
	svg {
		width: 100%;
		height: auto;
		vertical-align: middle;
	}
}
.main-header__logo-wrapper {
	text-align: center;
	margin: 0;
	padding: 0;
}

.main-header__toggle {
	width: 79px;
	height: 79px;
	position: absolute;
	top: 0;
	right: -29px;
	background-color: transparent;
	background-image: url('../img/icon-menu.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
	border: none;
	display: none;
}
.main-header__toggle--open {
	background-image: url('../img/icon-menu-close.svg');
}
.main-header__list {
	.list-reset();
}
.main-header__search {
	position: relative;
	margin-left: 30px;
	width: 161px;
	padding-bottom: 30px;
    padding-top: 31px;
}
.main-header__user-link {
	position: relative;
}
.main-header__icon {
	position: absolute;
	left: -29px;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0.2;
}
.main-header__icon--cart {
	left: 0;
}

.main-header__item {
	display: flex;
	align-items: stretch;

}
.main-header__item a{
	display: inline-flex;
	align-items: center;
	padding-left: 30px;
	width: 220px;
	box-sizing: content-box;
	padding-top: 29px;
	padding-bottom: 29px;
	&:hover {
		color: rgba(0,0,0,0.6);
		svg {
			fill: #63d1bb;
			opacity: 1;
		}
	}
	&:active {
		color: rgba(0,0,0,0.3);
		svg {
			opacity: 0.3;
		}
	}
}
.main-header__search-input {
	position: absolute;
	top: 34%;
	opacity: 0;
	z-index: -1;
}
.main-header__search-input:focus {
	opacity: 1;
	z-index: 1;

}
.main-header__search-input:focus + label .main-header__searh-text-label {
	opacity: 0;
}
.main-header__search-label {
	&:hover {
		svg {
			fill:#63d1bb;
			opacity: 1;
		}
	}
	&:active {
		svg {
			opacity: 0.3;
		}
	}
}
.main-header__list-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main-header__desk-add-list {
	display: none;
}
@media (max-width: @tablet-width - 1) {
	//onlymobile
		.main-header__item {
	position: relative;
	&:after {
		.pseudo-elem();
		height: 1px;
		width: 200vw;
		background-color: rgba(0,0,0,0.2);
		left: 50%;
		transform: translateX(-50%);
	}
}
	.main-header__search:before {
		.pseudo-elem();
		height: 1px;
		width: 200vw;
		top: 0;
		background-color: rgba(0,0,0,0.2);
		left: 50%;
		transform: translateX(-50%);
	}
	.main-header__user-link:before {
		.pseudo-elem();
		height: 1px;
		width: 200vw;
		bottom: 0;
		background-color: rgba(0,0,0,0.2);
		left: 50%;
		transform: translateX(-50%);
	}
	.js .main-header__toggle {
		display: block;
	}
	.js .main-header__list-container {
		display: none;
	}
	.js .main-header__list-container--show {
		display: flex;
	}
}
.main-header__link-current {
	opacity: 0.3;
}
@media  (min-width: @tablet-width) {
	.main-header__nav-container {
		display: flex;
		flex-direction: row;
	}
	.main-header__top-menu-container {
		display: flex;
		order: -1;
		margin-left: auto;
		max-width: 548px;
	}
	.main-header__list--user {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
	}
	.main-header__list-container {
		width: 100%;
		align-items: stretch;
	}	
	.main-header__list--nav {
		display: flex;
		flex-wrap: wrap;
		width: 60%;
	}

	.main-header__logo-link {
		position: absolute;
		left: 0;
	}
	.main-header__logo {
		width: 112px;
		height: 90px;
	}
	.main-header__item a {
		padding-left: 57px;
	}
	.main-header__item--nav a{
		padding-left: 0;
		width: 157px;
		margin-right: 12px;
		font-size: 15px;
		padding-top: 19px;
	}
	.main-header__top-menu-container {
		position: relative;
		&:after {
		.pseudo-elem();
		height: 1px;
		width: 200vw;
		background-color: rgba(0,0,0,0.2);
		left: 24%;
		bottom: 0;
		transform: translateX(-50%);
		}
	}
	.main-header__bottom-menu-container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		position: relative;
		&:after {
			.pseudo-elem();
			height: 100%;
			width: 200vw;
			right: 50%;
			transform: translateX(50%);
			background-color: #f9f9f9;
			z-index: -1;
		}
	}
	.main-header__intro {
		display: block;
		font-size: 15px;
		font-weight: normal;
		margin: 0;
		padding: 0;
		padding-top: 19px;
    	padding-bottom: 29px;
	}
	.main-header__searh-text-label {
		display: none;
	}
	.main-header__search {
		margin-left: 0;
		margin-right: 30px;
		width: 83px;
		padding: 0;
		display: flex;
	}
	.main-header__search-label {
		display: block;
		width: 83px;
		cursor: pointer;
		position: relative;
		&:before {
		.pseudo-elem();
		height: 100%;
		width: 1px;
		background-color: rgba(0,0,0,0.2);
		left: 0;
		top: 0;
		}
		&:after {
		.pseudo-elem();
		height: 100%;
		width: 1px;
		background-color: rgba(0,0,0,0.2);
		right: 0;
		top: 0;
		}
	}
	.main-header__icon--search {
		left: 50%;
		 transform: translate(-50%, -50%);
	}
	.main-header__item .main-header__user-link{
		width: auto;
		box-sizing: border-box;
		text-align: right;
		padding-top: 33px;
    	padding-bottom: 36px;
	}
	.main-header__search-input[type="text"] {
		border-radius: ~"3%/10%";
    	outline: none;
    	border-style: solid;
		width: 263px;
		left: 81px;
		top: 4px;
		height: 76px;
		background-color: white;
		border-color: rgba(0,0,0,0.2);
	}
}

@media (min-width: @desktop-width) {
	.main-header__nav-container {
		align-items: center;
		position: relative;
	}
	.main-header__list-container {
		flex-direction: row;
		position: relative;
		&:after {
		.pseudo-elem();
		height: 1px;
		width: 200vw;
		background-color: rgba(0,0,0,0.2);
		left: 24%;
		bottom: 0;
		transform: translateX(-50%);	
		}
	}
	.main-header__top-menu-container {
		order: 0;
		flex-shrink: 0;
		max-width: 430px;
		&:after {
			display: none;
		}
	}
	.main-header__logo-link {
		left: 50%;
		top: 50%;
    	transform: translate(-50%, -50%);
	}
	.main-header__logo {
		width: 182px;
		height: 72px;
	}
	.main-header__bottom-menu-container{
		position: static;
		width: 460px;
			&:after {
			display: none;
		}
	}

	.main-header__list--nav {
		width: auto;
		a {
			font-size: 17px;
			margin-right: 0;
			padding-right: 30px;
			display: inline-flex;
			align-items: center;
			padding-top: 33px;
			padding-bottom: 36px;
		}
	}
	.main-header__item--nav:nth-child(2n + 2) {
		
		a {
			padding-left: 30px;
			border-left-style: solid;
			border-width: 1px;
			border-color: rgba(0,0,0,0.2);
		}
	}
	.main-header__intro {
		position: absolute;
		bottom: -68px;
		right: 0;
	}
	.main-header__desk-add-list {
		
		font-size: 15px;
		display: flex;
		flex-wrap: wrap;
		padding-right: 260px;
		 .main-header__item a{
			padding-left: 0;
			box-sizing: border-box;
			width: 190px;
			padding-top: 19px;
		 }
		 .main-header__item{
		 	&:not(:first-child) {
		 		padding-left: 30px;
		 	}
		 }
		position: relative;
		 &:after {
		 	.pseudo-elem();
		 	height: 100%;
		 	width: 200vw;
		 	background-color: #f9f9f9;
		 	z-index: -1;
		 	right: 50%;
			transform: translateX(50%);
		 }
	}
		.main-header--inner-page {
			.main-header__desk-add-list:after {
				background-color: #f1f1f1;
			}
		}


}


